<!--<h2 class="text-uppercase text-center">Create my new task</h2>
<form [formGroup]="createTask" (ngSubmit)="addTask()">
  <input
    formControlName="newTask"
    placeholder="Which task do you want to add ?"
  />
  <button type="submit">Add my task</button>
</form>

 <ul>
  <li *ngFor="let task of tasks">
    {{ task.name }}
    {{ task.done }}
    <button (click)="markAsDone(task)">Done ?</button>
    <button (click)="deleteTask(task)">Delete</button>
  </li>
</ul> -->

<h1 class="text-capitalize text-center my-5">Create my task</h1>
<form
  [formGroup]="createTask"
  (ngSubmit)="addTask()"
  class="d-flex justify-content-center align-items-center"
>
  <div class="mb-3">
    <label class="form-label d-block">Create task</label>
    <input
      type="text"
      formControlName="newTask"
      placeholder="Task name ? "
      class="p-2"
    />
    <button type="submit" class="btn btn-light px-5 ms-5">Add</button>
  </div>
</form>
